# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# Environment & secrets
*.env
.env.*

# Virtual environments
venv/
.venv/
backend/venv/

# Builds
dist/
build/
*.egg-info/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
*.tmp
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Frontend (React/Vite)
# =========================
node_modules/
frontend/**/node_modules/

dist/
frontend/**/dist/
build/
frontend/**/build/

frontend/**/.vite/

# Ignore frontend client environment file
frontend/client/.env
